.footer-container {
    margin-top: 40px;
    background-color: #1a181e;
    padding: 0 16px 24px;
    .icon-container {
        padding: 22px 8px;
    }
    .icon-box {
        max-width: 72px;
    }
    .icon-text {
        font-size: 12px;
        text-align: center;
        line-height: normal;
        color: #ffffff;
    }
    .icon-text-sub {
        font-size: 10px;
        color: #ffffff;
    }
}