.list-container {
    .list {
        margin: 16px;
        .counter {
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0;
            width: 27px;
            height: 19px;
            margin: 3px 0 2px 4px;
            padding: 2px 6px 3px;
            margin: 3px 0 0px 0px;
            border-radius: 4px;
            background-color: #146eb4;
            color: #ffffff;
        }
    }
    .product-card {
        .product-img-container {
            position: relative;
            .offer {
                position: absolute;
                bottom: -6px;
                left: 14px;
                padding: 3px 8px;
                border-radius: 4px;
                background-color: #ee741f;
                color: #ffffff;
                font-size: 12px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
            }
        }
        .product-details {
            flex: 1;
            margin-left: 12px;
            .product-title {
                color: #1a181e;
                margin: 0px 0px 6px 0px;
                font-size: 14px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.29;
                letter-spacing: normal;
            }
            .unit {
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: normal;
                color: #1a181e;
            }
            .price-and-action {
                margin-top: 13px;
                .price {
                    font-size: 15px;
                    color: #1a181e;
                }
                .fadded-price {
                    color: #808080;
                    font-size: 14px;
                    text-decoration: line-through;
                }
            }
            .box {
                padding: 7px 12px;
                border-radius: 4px;
                border: solid 1px #146eb4;
                .add-text {
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 12px;
                    letter-spacing: 0;
                    color: #146eb4;
                    margin: 0px 6px;
                }
              }
            .add-num-box {
                padding: 0px 6px;
                border-radius: 4px;
                border: solid 1px #146eb4;
                .add-num {
                    margin: 0px 6px;
                    padding: 7px 7px 6px 9px;
                    background-color: #e4f1f8;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: 0;
                    text-align: center;
                    color: #146eb4;
                }
            }
        }
        
    }
    .all-product {
        margin: 28px 0 16px 0;
        padding: 5px 8px 5px 14px;
        border-radius: 4px;
        max-width: fit-content;
        padding: 4px 8px 4px 14px;
        border-radius: 4px;
        background-color: #f2f2f2;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0;
        color: #4d4d4d;
    }
    .divider {
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 18px;
    }
    
}